/* https://www.codingnepalweb.com/tags-input-box-html-javascript/ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #5372F0;
} */
::selection{
  color: #fff;
  background: #5372F0;
}
.wrapper{
  width: 496px;
  /* background: #fff; */
  /* border-radius: 10px; */
  padding: 5px 5px 5px;
  height: 100%;
  /* box-shadow: 0 0 9px #a6a6a6; */
}
.wrapper :where(.title, li, li i, .details){
  display: flex;
  align-items: center;
}
.title img{
  max-width: 21px;
}
.title h2{
  font-size: 21px;
  font-weight: 600;
  margin-left: 8px;
}
.wrapper .content{
  margin: 10px 0;
}
.content p{
  font-size: 15px;
}
.content ul{
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  /* margin: 12px 0; */
  border-radius: 5px;
  border: 1px solid #a6a6a6;
}
.content ul li{
  color: #9fb2a9;
  margin: 4px 3px;
  list-style: none;
  border-radius: 5px;
  background: #000000;
  padding: 5px 8px 5px 10px;
  border: 1px solid #e3e1e1;
  font-size: medium;
  font-family: fantasy;
}
.content ul li i{
  height: 20px;
  width: 20px;
  color: #808080;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 50%;
  background: #dfdfdf;
  justify-content: center;

}
.content ul input {
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color : inherit;
}
input[type="text"], textarea {
  background-color : #9fb2a9; 
  color: #9fb2a9;
  font-family:fantasy;
}
.wrapper .details{
  justify-content: space-between;
}
.details button{
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: #5372F0;
  transition: background 0.3s ease;
}
.details button:hover{
  background: #2c52ed;
}


/* https://stackoverflow.com/questions/22390272/how-to-create-a-label-with-close-icon-in-bootstrap */
.tag {
  font-size: 12px;
  padding: 0.3em 0.4em 0.3em;
  margin: 2px 1px !important;
  display: inline-block;
  max-width: 100%;
}

.tag > span {
  display: inline-block;
  max-width: 94%;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.tag a {
  display: inline-block;
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
  margin: 0 0 0 0.3em;
}

.tag a:hover {
  opacity: 1.0;
}

.tag a .glyphicon-white {
  color: rgb(150, 86, 86);
  margin-bottom: 2px;
}

.tag .remove {
  vertical-align: bottom;
  top: 0;
}