// @import  url(https://fonts.googleapis.com/css?family=Montserrat);



$labelPosWithPadding: 5px;
$height: 33px;

.text-input{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;

  padding: $labelPosWithPadding 12px;


  input[type="text"]{
    display: flex;
    height: $height;
    width: 40px;
    
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto';
    // border: 1px solid lightgray;
    transition: opacity 0.4s ease-in, width 0.3s ease-in;
    border: .5px solid #b42626;     // de0505 for brighter red
    border-radius: 3px 3px 3px 3px;
    background-color : #000000; 
    color: #ffffff;
    opacity:0%;
    padding: 10px 10px 10px 10px;
  }

  
  input[type="text"]:focus{
    // width:35%;
    width:196px;
    opacity:100%;
    transition: width 0.4s ease-out, opacity .3s linear;
  }
  
  input[type="text"] + .taglabel {
    display:flex;
    justify-content:center;
    position: absolute;
    bottom: $labelPosWithPadding;
    line-height: $height;
    color: white;
    // box-sizing: border-box;
    padding: 0px 20px;

    width: 0px;
    border-radius: 3px 3px 3px 3px;

    background: #E03616;

    // transform: translateZ(0) translateX(0);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in, width 0.3s ease-in;
  }
  
  input[type="text"]:focus + .taglabel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // transform: transformX(-20%);
    padding: 0px 20px;
    width: px;

    transition: transform 0.3s ease-in, opacity 0.5s ease-out, width 0.4s ease-out, height 0.3s ease-out;
    opacity: 0%;
    width: 156px; // The total width of this element matches the textbox and their width animations also match, making it perfect!
    // width: 35%;
    height: $height;
  }
}





// Originally from https://codepen.io/takeradi/pen/mPyYeq