::selection{
  color: #fff;
  background: #5372F0;
}
.tagbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;  /* affects the x-axis of the element */
  align-items: center; /* affects the y-axis of the element */

  width: auto;
  height: 100%;
}

.pill {
  /* background-color: #3f3f3f; */
  /* border-radius: 5px; */
  color: #3ea6ff;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;

  padding: 0px 1px;
  text-align: center;
  text-decoration-line:none; /* removes underline caused by href */
  /*   
  line-height:15px;
  text-decoration-color: #3ea6ff;
  text-decoration-style: solid;
  */
}

.pill.metadata {
  display: none;
}



.tagbox ul li.uploader {
  border-left-color:slategray
}

.tagbox ul li.artist {
  border-left-color:firebrick;
}

.tagbox ul li.category {
  border-left-color: indigo;
}

.tagbox ul li.vocaloid {
  border-left-color:dodgerblue;
  border-right-color:dodgerblue;
}

.tagbox ul li.game {
  border-left-color:darkred;
  border-right-color:darkred;
}

.tagbox ul li.anime {
  border-left-color:mediumpurple;
  border-right-color: mediumpurple;
}

.tagbox ul li.GOAT {
  border-left-color: #1c1818;
  border-radius: 5px;
  color: darkgoldenrod;
}

.tagbox ul li.metadata {
  display: none;
}


/******* On the watch?v= actual song page ******/
div#description + div.tagboxwrapper {
  margin: 0px 0px 8px 0px;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}
