::selection{
  color: #fff;
  background: #5372F0;
}
.tagboxwrapper {
  width: auto;
  /* padding: 5px 5px 5px; */
  height: 100%;
  /* justify-content:center; */
}

.tagboxwrapper .tagbox{
  /* margin: 10px 0; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.tagbox ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  /* padding: 7px; */
  /* border: 0px solid #a6a6a6; */
}

.tagbox ul li {
  color: floralwhite;
  margin: 3px 3px 3px 8px;
  list-style: none;
  background: #000000;
  padding: 5px 8px 5px 10px;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: "Roboto","Arial",sans-serif;
  font-weight: 300;

  border-style: solid;
  border-color: #1c1818; 
  border-left-color: white;
  border-width: 2px;
  border-top-color: #1c1818;
  border-bottom-color: #1c1818;

  border-radius: 15px;
  border-left-width: 2.5px;
  border-start-end-radius: 6px;
  border-end-start-radius: 6px;
  border-start-start-radius: 4px;    /* 12px also looks good */
  border-end-end-radius: 8px;
}


.tagbox ul li.uploader {
  border-left-color:slategray
}

.tagbox ul li.artist {
  border-left-color:firebrick;
}

.tagbox ul li.category {
  border-left-color: indigo;
}

.tagbox ul li.vocaloid {
  border-left-color:dodgerblue;
  border-right-color:dodgerblue;
}

.tagbox ul li.game {
  border-left-color:darkred;
  border-right-color:darkred;
}

.tagbox ul li.anime {
  border-left-color:mediumpurple;
  border-right-color: mediumpurple;
}

.tagbox ul li.GOAT {
  border-left-color: #1c1818;
  border-radius: 5px;
  color: darkgoldenrod;
}

.tagbox ul li.metadata {
  display: none;
}


/******* On the watch?v= actual song page ******/
div#description + div.tagboxwrapper {
  margin: 0px 0px 8px 0px;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}
